body{
	background-color: pink;}
.header-1{
	background-color: white;
	border: 1 solid black;
	height: 200px;
	margin-bottom: 5px;}
p{
	text-align: center;
	color: black;}
nav{
	background-color: gray;
	width: 25%;
	height: 200px;
	text-align: center;
	display: inline-block;
	float: left;
	margin-right: 4px;}
section{
	background-color: blue;
	width: 49%;
	height: 200px;
	display: inline-block;
	margin-right: 1px;
	float: left;}
.footer-1{
	background-color: orange;}
.header-2{
	background-color: green;}
article{
	background-color: brown;}
aside{
	background-color: yellow;
	width: 25%;
	height: 200px;
	display: inline-block;
	margin-left: 2px;}
.footer-2{
	background-color: green;
	border: 1 solid black;
	height: 100px;}
